body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #f4f4f4;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.item {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(212, 29, 29, 0.1);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
}
.hide {
    display: none;
}
.portfolio-section {
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

.filter-buttons {
    margin-bottom: 30px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

